<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'financialmonitoring', :plugin => 'financialmonitoring' %>
<% end %>

<%= form_for @charts_settings, url: "./charts/update", method: "post" do |f| %>
  <%= f.hidden_field :project_id %><br />  
  <div class="form_block">
  <%= f.label :day, l("status_to_include") %><br />  
  <select name="day_per_project[included_status_ids][]" multiple="multiple">
  <%= 
    selection = @charts_settings.included_status != nil ? @charts_settings.included_status.split(';') : nil;
    options_from_collection_for_select(IssueStatus.all, :id, :name, {:selected => selection})
  
  %>
  </select>
  </div>

  <div class="form_block">
  <%= f.label :day, l("hour_per_month") %><br />  
  <%= f.text_field :day %><br />  
  </div>

  <div class="form_block">
  <%= f.label :start_date, l("contract_start") %><br />  
  <%= f.date_field :start_date %>
  </div>

<%= submit_tag "Mettre à jour" %>
<% end %>
